.body_content {
margin-right: 1cm;
}
.body_content_box {
margin-left: 1cm;
float: left;
}
.body_content_process {
margin-left: 1cm;
margin-right: 1cm;
width: 100%;
}
.process_iframe {
width: 100%;
height: 20%;
}