* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
.header {
width: 100%;
}
.header_table {
width: 100%;
}
#header_table_data_left {
width: 70%;
}
#header_table_data_right {
width: 30%;
text-align: center;
}
.footer, .push {
height: 2em;
}
.footer {
text-align: center;
}