* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
.header {
width: 100%;
background-color: #F2F2F2;
}
.header_table {
width: 100%;
margin-left: 1cm;
}
#header_table_data_left {
width: 70%;
}
#header_table_data_right {
width: 30%;
text-align: center;
}
.header_button {
float: left;
min-width: 100px;
text-align: center;
border-left-style: solid;
border-right-style: solid;
border-left-width: 1px;
border-right-width: 1px;
border-left-color: #A4A4A4;
border-right-color: #A4A4A4;
}
.header_button:hover {
border-style: outset;
border-color: #A4A4A4;
border-width: 1px;
border-left-style: outset;
border-right-style: outset;
border-left-width: 1px;
border-right-width: 1px;
}
.header_button_text {
margin-left: 10px;
margin-right: 10px;
color: #000000;
}
#header_brand_text {
color: #000000;
}
.footer, .push {
height: 2em;
}
.footer {
text-align: center;
font-size: 12px;
}