* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -2em;
}
.header {
width: 100%;
background-color: #088A68;
}
.header_table {
width: 100%;
margin-left: 1cm;
}
#header_table_data_left {
width: 70%;
}
#header_table_data_right {
width: 30%;
text-align: center;
}
.header_button {
float: left;
border-style: solid;
border-width: 2px;
border-color: #F2F2F2;
}
.header_button_text {
margin-left: 10px;
margin-right: 10px;
}
.footer, .push {
height: 2em;
}
.footer {
text-align: center;
font-size: 12px;
}