.body_content {
margin-left: 1cm;
margin-right: 1cm;
}
.body_table {
width: 100%;
}
.body_table_data {
text-align: center;
}
.service_operation_form {
display: inline-block;
}
.body_management {
text-align: center;
}
.update_display {
width: 100%;
height: 100%;
}